.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.taskname {
  flex: 1;
  margin: 0;
}

.deleteBtn {
  background-color: #dc3545;
  color: white;
  margin-right: 1rem;
}

.deleteBtn:hover {
  background-color: #c82333;
}

.editBtn {
  background-color: #ffc107;
}

.editBtn:hover {
  color: black;
  background-color: #e0a800;
}
